version: '3.3'
services:
# Nodejs API
  api:
    build:
      dockerfile: Dockerfile-production
    environment:
      - URL_PRODUCTION=http://antivariantum.com
# nginx
  nginx:
    environment:
      - NGINX_HOST=antivariantum.com
# db
  db:
    environment:
      - PMA_ABSOLUTE_URI=http://antivariantum.com/db/
