/* @import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Montserrat:wght@100&display=swap'); */

body{
    background-color: black;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}

nav{
    position: absolute;
    top:0;
    right: 0;
    display: block;
    margin: 1rem;
}

nav>a{
    font-family:'Exo 2', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #8A7A50;
    padding: 0.5em;
}

nav>a:hover{
    color: white;
}


#home::before{
    content: url("../images/outline_home_white_18dp.png");
    /* transform: scale(2); */
    vertical-align: middle;
}
